<section class="form-container">
  <h2 class="form-title">{{ 'inventory.form.title' | translate }}</h2>

  <form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()" class="inventory-form">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'inventory.form.name' | translate }}</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="small-field">
        <mat-label>{{ 'inventory.form.stock' | translate }}</mat-label>
        <input matInput type="number" formControlName="quantity">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'inventory.form.description' | translate }}</mat-label>
        <textarea matInput formControlName="description" rows="1"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="small-field">
        <mat-label>{{ 'inventory.form.unit' | translate }}</mat-label>
        <mat-select formControlName="unit">
          <mat-option *ngFor="let unit of unitOptions" [value]="unit">
            {{ 'inventory.units.' + unit | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'inventory.form.min_stock' | translate }}</mat-label>
        <input matInput type="number" formControlName="minStock">
        <mat-hint>{{ 'inventory.form.hint' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="small-field">
        <mat-label>Precio (S/.)</mat-label>
        <input matInput type="number" formControlName="price">
      </mat-form-field>
    </div>

    <button mat-fab extended color="primary" type="submit"
            class="floating-submit-btn" [disabled]="inventoryForm.invalid">
      <mat-icon>cloud_upload</mat-icon>
      {{ 'inventory.form.button' | translate }}
    </button>
  </form>
</section>
